*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/media/fonts/JosefinSans.ttf') format('truetype');
}


body{
    background-image: url("/media/images/bg.png");
    background-size: 100%;
}
::placeholder{
    color: white;
}

body *{
    font-family: 'JosefinSans';
}

header{
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 35px;
    gap: 250px;
    box-sizing: border-box;
}

header .name_and_page_name{
    width: 196px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

header .name_and_page_name *{
    font-size: 40px;
}

header .name_and_page_name .name{
    text-decoration: underline;
    font-weight: 400;
}


header .name_and_page_name .page_name{
    font-weight: 600;
}

header .buttons{
    display: flex;
    flex-direction: row;
    gap: 32px;

}

header .buttons *{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 24px;
    height: 50px;
    font-weight: 300;
    align-items: baseline;
    border-radius: 50px;
    background-color: #FFAD7A;
}


main {
    width: 100%;
    height: 586px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container{
    width: 662px;
    height: 750px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-sizing: border-box;
    gap: 80px;
}

main .container .steps .round{
    width: 25px ;
    height: 25px;
}

main .container .steps{
    display: flex;
    width: 103px;
    height: 25px;
    justify-content: space-between;
}

main .container .step_image{
    width: 150px;
    height: 150px;
}

main .container .step_name{
    font-size: 24px;
    font-weight: 600;
}

main .container .group_image_and_steps{
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .container .container_inputs{
    width: 450px;
    height: 155px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


main .container .container_inputs .input{
    width: 450px;
    height: 60px;
    padding-left: 25px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 24px;
    background-color: #9AF0FF;
}


main .container .submit{
    width: 250px;
    height: 69px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #9AF0FF;
    font-size: 33px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 726px;    
    padding-right: 726px;
    gap: 50px;
    box-sizing: border-box;
}

footer *{
    width: 50px;
    height: 50px;
}


footer .conteiner_images_contacts{
    width: 400px;
    display: flex;
}