{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/third_step_payment_desktop.css' %}">
<link rel="icon" href="{% static 'images/qr-code.ico' %}">
<script src="https://unpkg.com/imask@7.6.1/dist/imask.js"></script>
<script src="{% static 'js/third_step_payment_desktop.js' %}" defer></script>
{% endblock %}

{% block title %}
Create QR-code
{% endblock %}

{% block content %}

<header>

</header>

<main>

    <div class="container">
        <div class="group_image_and_steps">
            <div class="steps">
                <img src="{% static 'images/round.png' %}" class="round">
                <img src="{% static 'images/round.png' %}" class="round">
                <img src="{% static 'images/round.png' %}" class="round">
            </div>
            <img src="{% static 'images/step_image3.png' %}" class="step_image">
            <p class="step_name">PAYMENT</p>
        </div>

        <div class="payment-div">
            <div class="payment-left-div">
                <div class="cycle">
                    <button id="month" class="active" name="subscribe_type" value="5">
                        10 desktop
                        <p>$2.00 get 10 more qr-codes</p>
                    </button>
                </div>
                <div class="payment-card-div">
                    <div class="card-number-div card-inputs">
                        <h2>Card number</h2>
                        <input type="text" placeholder="1234 4321 5678 8765">
                    </div>
                    <div class="card-date-div card-inputs">
                        <h2>Date</h2>
                        <input type="text" placeholder="DD/YY">
                    </div>
                    <div class="card-ccv-div card-inputs">
                        <h2>CCV</h2>
                        <input type="text" placeholder="000" maxlength="3">
                    </div>
                </div>
            </div>
            <div class="payment-right-div">
                <img src="{% static 'images/qr-img.png' %}">
                <h2>Desktop</h2>
                <div style="display: flex; gap: 10px;">
                    <p>Total price:
                    <p id="price" style="text-decoration: underline;">5$</p>
                    </p>
                </div>
                <button class="submit" onclick="location.href = '/create_qr_code_page/'">submit</button>
            </div>
        </div>

        {% if error %}<p class="error">{{error}}</p>{% endif %}

    </div>
    </div>

</main>

<footer>

</footer>

{% endblock %}