body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top right, #d1f4ff, #f0dfff);
    overflow: hidden;
}

.container {
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.login {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
}

.input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input {
    border-color: #5ac9ff;
}

.submit-button {
    width: 95%;
    padding: 10px;
    background-color: #5ac9ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button {
    background-color: #4ab8e8;
}

.registration-link {
    display: block;
    margin-top: 15px;
    color: #5ac9ff;
    text-decoration: none;
    font-size: 14px;
}

.registration-link: {
    text-decoration: underline;
}

