* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/media/fonts/JosefinSans.ttf') format('truetype');
}


body {
    background-image: url("/media/images/bg.png");
    background-size: 100%;
}

body * {
    font-family: 'JosefinSans';
}

header {
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 35px;
    gap: 250px;
    box-sizing: border-box;
}

header img {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: start;
}


header .name_and_page_name {
    width: 196px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

header .name_and_page_name * {
    font-size: 40px;
}

header .name {
    text-decoration: underline;
    font-weight: 400;
    font-size: 40px;
    width: 250px;
    text-align: center;
}


header .name_and_page_name .image_and_page_name .page_name {
    font-weight: 600;
    font-size: 60px;
}

header .name_and_page_name .image_and_page_name {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    width: 300px;
}


header .name_and_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 100px;
    top: 5px;
}


header .name_and_image img {
    width: 50px;
    height: 50px;
}



header .name_and_image .logout {
    font-size: 32.88px;
    width: 175px;
    height: 45px;
    background-color: #9AF0FF;
    border: 1px solid black;
    border-radius: 70px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 6px;
}


header .name_and_page_name .image_and_page_name .page_name {
    font-weight: 600;
    font-size: 60px;
}

header .name_and_page_name .image_and_page_name {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    width: 300px;
}


header .name_and_page_name .image_and_page_name .QR- {
    color: #67E0AC;
    font-size: 60px;
    font-weight: 600;
}

header .name_and_page_name .image_and_page_name .code {
    font-size: 60px;
    font-weight: 600;
}

header .buttons {
    display: flex;
    flex-direction: row;
    gap: 32px;

}

.buttons a:hover{
    background-color: #fa8c60;
    cursor: pointer;
}

header .buttons * {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 24px;
    height: 50px;
    font-weight: 300;
    align-items: baseline;
    border-radius: 50px;
    background-color: #FFAD7A;
    box-sizing: border-box;
    border: 1px solid black;
    cursor: pointer;
}




main {
    width: 100%;
    height: 645px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container_authors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: 526px;
    width: 1174px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    overflow-x: auto;
    overflow-y: hidden;
}

main .container_authors .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 324px;
    height: 470px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    box-sizing: border-box;
}

main .container_authors .card .all_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 489px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

main .container_authors .card .photo_and_name {
    width: 275px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

main .container_authors .card .photo {
    width: 250px;
    height: 250px;
}

main .container_authors .card .name {
    height: 33px;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}


main .container_authors .card .contact_info .telephone {
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

main .container_authors .card .contact_info .telephone .telephone_number {
    font-size: 28px;
    width: 230px;
    height: 38px;
    padding-top: 7px;
}

main .container_authors .card .contact_info .telegram {
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

main .container_authors .card .contact_info .telegram .username_telegram {
    font-size: 28px;
    width: 203px;
    height: 38px;
    padding-top: 7px;
}

main .container_authors .card .contact_info .discord {
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

main .container_authors .card .contact_info .discord .username_discord {
    font-size: 28px;
    width: 203px;
    height: 38px;
    padding-top: 7px;
}

main .container_authors .card .contact_info .discord {
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

main .container_authors .card .contact_info .discord .username_discord {
    font-size: 28px;
    width: 203px;
    height: 38px;
    padding-top: 7px;
}


main .container_authors .card .contact_info .email img {
    width: 50px;
    height: 50px;
}

main .container_authors .card .contact_info .email {
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

main .container_authors .card .contact_info .discord .email_adress {
    font-size: 28px;
    width: 203px;
    height: 38px;
    padding-top: 7px;
}

footer {
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 726px;
    padding-right: 726px;
    gap: 50px;
    box-sizing: border-box;
}

footer * {
    width: 50px;
    height: 50px;
}


footer .conteiner_images_contacts {
    width: 400px;
    display: flex;
}