
body {
    background-image : url("https://s3-alpha-sig.figma.com/img/14d8/0637/758f30f2f92c84cfe8f49c8b2577b86d?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=i6nX94CurpszVj9CLhmqJiH6o-If7JrylPs0DNsVFqWVRWP7r8x4CFli60FkTYZPCmDPQVDurwnY5tfp96ByBsALpCAwBCGyl6TcYawKRgkKFi8JwyFZQyhpvoi~imNE5-qaK9tRTMaRw-sZvf6G2yEzB-sQUfqeFzxrKkeErFWusolCuBGmj9BtNVcdgQXVLcvHVGc1pBylfweYJ6-qkWtA7lstyEc~7~~H4eO05Oy03svAkGlcu2ev85A0VQ0mN-PTDjxAr9T7NnlwfIcFTvBxfBgyb5aZQQf2Vhqv6-9N~cQdArUOeUWW2Sdr6MMOrd3rJ0l0eKZyv7rkOlhvWQ__");
    background-size : 100%
}


.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.form-box {
    background-color: #ffffff;
    width: 850px; 
    height: 480px;
    border-radius: 50px;
    border: 1px;
    gap: 127px;
    display: inline-block;
}

.input-field {
    display: block;
    width: 588px;
    height: 60px;
    margin: 20px auto;
    padding: 10px;
    border: none;
    top: 11px;
    bottom: 11px;
    left: 25px;
    gap: 10px;
    border-radius: 50px;
    background-color: #9AF0FF;
    color: #ffffff;
    outline: none;
    font-size: 14px;
}

.input-field::placeholder {
    color: #888;
}

.submit-btn {
    width: 250px;
    height: 69px;
    background-color: #4ac5ff;
    border: none;
    border-radius: 70px;
    color: white;
    font-size: 16px;
    top: 6px;
    right: 67px;
    bottom: 6px;
    left: 67px;
    cursor: pointer;
}

.login-field {
    margin-top: 1000px;
}

.login-link {
    color: #2F008C;
    background-color:white;
    border: 0px solid#ffffff;
    width: 114px;
    height: 110px;
    size: 32.88px;
    line-height: 32.88px;
    top: 600;
}

.icons {
    margin-top: 20px;
}

.icons img {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}