* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/media/fonts/JosefinSans.ttf') format('truetype');
}


body {
    background-image: url("/media/images/bg.png");
    background-size: 100%;
}

::placeholder {
    color: white;
}

body * {
    font-family: 'JosefinSans';
}

header {
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 35px;
    gap: 250px;
    box-sizing: border-box;
}

header .name_and_page_name {
    width: 196px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

header .name_and_page_name * {
    font-size: 40px;
}

header .name_and_page_name .name {
    text-decoration: underline;
    font-weight: 400;
}


header .name_and_page_name .page_name {
    font-weight: 600;
}

header .buttons {
    display: flex;
    flex-direction: row;
    gap: 32px;

}

header .buttons * {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 24px;
    height: 50px;
    font-weight: 300;
    align-items: baseline;
    border-radius: 50px;
    background-color: #FFAD7A;
}


main {
    width: 100%;
    height: 586px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container {
    height: 600px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-sizing: border-box;
    gap: 40px;
}

main .container .steps .round {
    width: 25px;
    height: 25px;
}

main .container .steps {
    display: flex;
    width: 103px;
    height: 25px;
    justify-content: space-between;
}

main .container .step_image {
    width: 150px;
    height: 150px;
}

main .container .step_name {
    font-size: 24px;
    font-weight: 600;
}

main .container .group_image_and_steps {
    min-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .container .payment-div {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


main .container .payment-div .input {
    width: 450px;
    height: 60px;
    padding-left: 25px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 24px;
    background-color: #9AF0FF;
}


main .container .submit {
    width: 250px;
    height: 69px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #9AF0FF;
    font-size: 33px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
}

main .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: red;
}

footer {
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 726px;
    padding-right: 726px;
    gap: 50px;
    box-sizing: border-box;
}

footer * {
    width: 50px;
    height: 50px;
}


footer .conteiner_images_contacts {
    width: 400px;
    display: flex;
}

.payment-left-div{ 
    width: 60%; 
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    border-bottom-left-radius: 50px;
} 
 
.payment-card-div{ 
    display: flex; 
    gap: 20px; 
} 
 
.card-inputs{ 
    display: flex; 
    flex-direction: column; 
    gap: 8px;
} 

.card-inputs h2{
    font-weight: 200;
}
 
.card-inputs input{ 
    padding-left: 15px;
    padding-top: 5px;
    width: 125px; 
    height: 60px; 
    font-size: 26px; 
    border-radius: 15px; 
    border: 1px solid #0000008a; 
    display: flex;
} 
 
.card-number-div input{ 
    width: 300px; 
}

.card-inputs input::placeholder{
    color: #a1a0a0;
    font-weight: 200;
}

.payment-right-div{
    width: 40%;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.payment-right-div h2{
    font-size: 28px;
    font-weight: 300;
}

.payment-right-div p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
}


.cycle{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.cycle button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    width: 250px;
    height: 80px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    font-size: 30px;
    transition: 0.3s;
}

.cycle button:hover{
    cursor: pointer;
    border-color: rgb(45, 45, 250);
    box-shadow: 
        0 0 5px #89CFF0,
        0 0 15px #0096FF,
        0 0 0px #0066CC;
}

.cycle button p{
    font-size: 15px;
    color: #787878;
}

.active{
    border-color: rgb(45, 45, 250);
    color: #007bd3;
    box-shadow: 
        0 0 5px #89CFF0,
        0 0 15px #0096FF,
        0 0 0px #0066CC;
}