* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background_img.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
header {
    text-align: left;
    padding: 20px;
}
  
header h1 {
    font-size: 2.5em;
    margin: 10px 0;
    line-height: 1.2;
    color: #000000;
    text-decoration: underline;
}
  
header h1 p{
    display: block;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
}

.home-page{
    font-size: 52.44px;
    font-weight: 600px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container p{
    text-decoration: none;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 20px 20px 0 0;
    padding: 0;
    gap: 20px;
}

.header-link {
    display: inline-block;
    padding: 10px 20px;
    background: #FFAD7A;
    color: #000000;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
}
  
.header-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}
  
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.pricing-table {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}
  
.plan {
    background: #fff;
    padding: 20px;
    text-align: center;
    width: 375px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 51.07px;
    font-weight: 300;
}
  
.plan div {
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: inside;
    font-size: 32.88px;
    font-weight: 300;
}
  
.button {
    margin-top: 20px;
    background-color: #A0F1FF;
    width: 205px;
    height: 60px;
    color: #fff;
    padding: 15px 20px;
    font-size: 32.88px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid black;
    font-family: 'Josefin Sans';
    position: absolute;
    top: 520px;
}
  
footer {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, button {
    font-family: 'Josefin Sans';
    font-weight: 300;
}
  
p {
    font-family: 'Josefin Sans';
    font-weight: 300;
}
  
.social-icons {
    display: flex;
    gap: 50px;
}
  
.social-icons a img {
    width: 50px;
}