* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/media/fonts/JosefinSans.ttf') format('truetype');
}


body {
    background-image: url("/media/images/bg.png");
    background-size: 100%;
}

body * {
    font-family: 'JosefinSans';
}

header {
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 35px;
    gap: 250px;
    box-sizing: border-box;
}

header img {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: start;
    visibility: hidden;
}


header .name_and_page_name {
    width: 196px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

header .name_and_page_name * {
    font-size: 40px;
}

header .name {
    text-decoration: underline;
    font-weight: 400;
    font-size: 40px;
    width: 250px;
    text-align: center;
}


header .name_and_page_name .image_and_page_name .page_name {
    font-weight: 600;
    font-size: 60px;
}

header .name_and_page_name .image_and_page_name {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    width: 300px;
}

header .name_and_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header .name_and_image img {
    width: 50px;
    height: 50px;
}



header .name_and_image .logout {
    font-size: 32.88px;
    width: 175px;
    height: 45px;
    background-color: #9AF0FF;
    border: 1px solid black;
    border-radius: 70px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 6px;
}

header .name_and_page_name .image_and_page_name .QR- {
    color: #67E0AC;
    font-size: 60px;
    font-weight: 600;
}

header .name_and_page_name .image_and_page_name .code {
    font-size: 60px;
    font-weight: 600;
}

header .buttons {
    display: flex;
    flex-direction: row;
    gap: 32px;

}

.buttons a:hover {
    background-color: #fa8c60;
    cursor: pointer;
}

header .buttons * {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 24px;
    height: 50px;
    font-weight: 300;
    align-items: baseline;
    border-radius: 50px;
    background-color: #FFAD7A;
    box-sizing: border-box;
    border: 1px solid black;
    cursor: pointer;
}




main {
    width: 100%;
    height: 65%;
    padding: 0px 139px;
    box-sizing: border-box;
}

.qr-code-container {
    display: flex;
    position: relative;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    padding-left: 25px;
    align-items: center;
    border: 1px solid black;
    gap: 25px;
    overflow-x: scroll;
    
}

.qr-code-element {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 470px;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
}

.qr-code-element .qr-code {
    width: 200px;
    height: 200px;
}

.qr-code-element .delete {
    width: 50px;
    height: 50px;
}

.qr-code-element .qr-code_and_delete {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 300px;
    /* background-color: darkblue; */
}

input {
    width: 250px;
    height: 53px;
    border-radius: 50px;
    position: fixed;
    right: 160px;
    top: 175px;
    padding: 15px;
    padding-right: 45px;
    font-size: 15px;
}

.download-button {
    background-color: #9AF0FF;
    border-radius: 70px;
    height: fit-content;
    padding: 15px 50px;
    font-size: 33px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    border: 1px solid black;
}

.finder {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}

.finder img {
    position: fixed;
    right: 170px;
    top: 187px;
    width: 25px;
    height: 25px;
}

footer {
    height: 156px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer img {
    width: 50px;
    height: 50px;
}