@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-image: url('images/image 1 (1).png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 156px;
    padding: 32px 50px 0px 50px;
    box-sizing: border-box;
}
.header-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-page-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.qr-logo{
    width: 60px;
    height: 60px;
}
.header-page-logo p{
    font-size: 40px;
    text-decoration: underline;
    padding-left: 20px;
}
.header-page-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.qr-text{
    color: #67E0AC;
}
header h1{
    font-size: 52px;
    font-weight: 600;
}
.buttons-header{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
header button{
    background-color: #FFAD7A;
    border-radius: 50px;
    height: fit-content;
    padding: 13px 30px;
    font-size: 24px;
    font-weight: 300;
}
main{
    width: 100%;
    height: 552px;
    padding: 0px 139px;
    box-sizing: border-box;
}
.qr-code-container{
    display: flex;
    position: relative;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    padding-left: 25px;
    align-items: center;
    border: 1px solid black;
}
.qr-code-element{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 470px;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
}
.qr-code-element img{
    width: 200px;
    height: 200px;
}
input{
    width: 250px;
    height: 53px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 15px;
    padding-right: 45px;
    font-size: 15px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10%202C5.58172%202%202%205.58172%202%2010C2%2014.4183%205.58172%2018%2010%2018C11.8487%2018%2013.551%2017.3729%2014.9056%2016.3199L20.2929%2021.7071C20.6834%2022.0976%2021.3166%2022.0976%2021.7071%2021.7071C22.0976%2021.3166%2022.0976%2020.6834%2021.7071%2020.2929L16.3199%2014.9056C17.3729%2013.551%2018%2011.8487%2018%2010C18%205.58172%2014.4183%202%2010%202ZM4%2010C4%206.68629%206.68629%204%2010%204C13.3137%204%2016%206.68629%2016%2010C16%2013.3137%2013.3137%2016%2010%2016C6.68629%2016%204%2013.3137%204%2010Z%22%20fill%3D%22%23797878%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: right 15px center;
}
.download-button{
    background-color: #9AF0FF;
    border-radius: 70px;
    height: fit-content;
    padding: 15px 50px;
    font-size: 33px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
footer{
    height: 156px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
footer img{
    width: 50px;
    height: 50px;
}